//- site settings
- const title = '大塚 雄飛｜Otsuka Yuhi'
- const description = 'This page is HOME PAGE for Otsuka Yuhi.'
- const url = 'https://otsukayuhi.app/'

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title #{title}
meta(name='description', content=description)
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='format-detection', content='telephone=no')
meta(property='og:title', content=title)
meta(property='og:description', content=description)
meta(property='og:type', content='website')
meta(property='og:url', content=url)
meta(property='og:image', content=`${url}og.png`)
meta(name='twitter:card', content='summary_large_image')
link(rel='shortcut icon', href='/favicon.ico')
link(rel='canonical', href=url)
